@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


.footer{
    background-color: gray;
}

.navbar-brand {
    font-family: 'Roboto', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700; /* Optionally adjust the font weight */
}